requests  # let various other dependencies sort of the right version of this
python-dotenv==1.0.*
spacy==3.6.*
pytest==7.4.*
sentry-sdk==1.31.*
fastapi[all]==0.103.*
uvicorn[standard]  # let pip figure out the right version based on fastapi
gunicorn==21.2.*
mediacloud-metadata==0.9.*
