requests==2.27.*
python-dotenv==0.20.*
spacy==3.3.*
pytest==7.1.2
sentry-sdk==1.5.*
fastapi[all]==0.78.*
uvicorn[standard]  # NOTE: let pip figure out the right version based on fastapi
gunicorn==20.1.0
mediacloud-metadata==0.5.0
